@font-face{
  font-family: Regular;
  src: url(./assets/Fonts/KyivTypeTitling-Regular.otf);
}
@font-face{
  font-family: Regular2;
  src: url(./assets/Fonts/KyivTypeTitling-Regular2.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Regular;
}
html,body{
  width: 100%;
  height: 100%;
}
